extends layout
block scripts
	link(rel='stylesheet', type='text/css', href='/css/w.css')

	script
		WWM = {}
		WWM.session =  {
			docid: '#{session.docid}',
			_id: '#{session._id}',
			creator: '#{session.creator}'
		}
		WWM.user = {
			_id: '#{user._id}',
			name: '#{user.name}'
		}

	- if(isProduction){
		script(src='/compiled.min.js')
	- } else {
		script(src='/vendor/jquery-1.7.1.min.js')
		//script(src='/vendor/zepto.min.js')
		script(src='/vendor/console-dummy.js')
		script(src='/vendor/underscore.js')
		script(src='/vendor/backbone-0.9.1.js')
		script(src='/vendor/bootstrap-modal.js')		
		script(src='/socket.io/socket.io.js')
		script(src='/vendor/module.js')
		script(src='/skull.io/skull.io.js')
		script(src='/js/utils.js')	
		script(src='/js/ioState.js')	
		script(src='/js/yt.js')
		script(src='/js/playerView.js')		
		script(src='/js/name-dialog.js')	
		script(src='/js/models.js')	
		script(src='/js/search.js')	
		script(src='/js/playlist.js')	
		script(src='/js/chat.js')	
		script(src='/js/app.js')	
		- }
	script
		require('app').start();

			
block content
	.row.connection-view(style='display: none')
		.span8
			.alert.error
				h4.alert-heading Connection problem
				.alert-body Lost connection to server. Hold on while I try to re-establish the connection.
	.row
		.span4
			h3.video-title Title
		.span4
			a.fb-share-button(name='fb_share', type='button')
			a.twitter-share-button(href="https://twitter.com/share", data-count="none") Tweet
			script !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
	.row
		.span8		
			.row
				.span8
					#player
			.row
				.span4 
					h3.total-views &nbsp;
				.span4
					h3.viewers
			.chat-view
				.row
					.span8
						| Enter message:
				.row
					.span8
						input.chat-message(type='text', name='chat-message', style='width: 100%')
				.row
					.span8
						ul.messages.items
			

		.span4.playlist-view
			.row
				.span4
					.well.search-view
						h4 Add video:
						input.search-video(type='text')
						.search-place.span4(style='margin-left: 0; overflow-y: auto; height: 200px')
							table.search-results(width='100%')
			.row
				.span4
					table.playlist(width='100%')

	script(src='http://static.ak.fbcdn.net/connect.php/js/FB.Share')

block templates
	script#one-search-item(type='template')
		td(width='60')
			img.thumb(src='{{thumbnail}}')
		td	
			h4.video-title	{{title}}
		
	script#one-play-item(type='template')
		td(width='140')
			.thumbnail
				img(src='{{thumbnail}}')
				.vote-button

		td(valign='top', align='left')
			h4.video-title	{{title}}
			.author {{uploader}}
			.views {{viewCount}} views
		td(valign='middle', style='position: relative')
			h3.vote-count {{voters? voters.length : 0}}
			a.remove(href='#', class="{{WWM.isModerator ? '': 'hidden'}}" ) &times;


	script#one-chat-item(type='template')
		<b>{{from}}</b>:&nbsp;{-{message}}

	#name-dialog.modal(style='display: none')
		.modal-header
			h3 What is your name ?
		.modal-body
			input(type='text', name='user-name')	
		.modal-footer
			a.btn.primary(href='#') OK

	














